{% extends "base.html" %}
{% load bootstrap5 %}
{% load static %}
{% block navbar %}
<nav class="navbar navbar-light bg-light sticky-top navbar-profile">
    <div class="container-fluid d-flex justify-content-between">
        <button class="btn btn-primary" onclick="location.href='{% url 'user_list' %}'">Back to Profiles</button>
        <button class="btn btn-primary" onclick="location.href='{% url 'start_chat' username=profile.username %}'">Start Chat</button>
        <button class="btn btn-primary" onclick="location.href='{% url 'logout' %}'">
            Logout
        </button>
    </div>
</nav>
{% endblock %}
{% block content %}
<div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
        <div class="col-md-4">
            {% if profile.avatar %}
            <img src="{{ profile.avatar.url }}" alt="Profile Picture" class="img-fluid rounded-start">
            {% else %}
            <img src="{{ MEDIA_URL }}avatars/default_avatar.jpg" alt="Default Profile Picture"
                 class="rounded-circle me-2" alt="Profile Picture" width="150" height="150">
            {% endif %}
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">{{ profile.username }}</h5>
                <p class="card-text">City: {{ profile.city }}</p>
                <p class="card-text">Expertise: {{ profile.expertise }}</p>
                <p class="card-text">Company: {{ profile.company }}</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block footer %}
{% endblock %}
