{% extends "base.html" %}
{% load bootstrap5 %}
{% load static %}
{% block navbar %}
<nav class="navbar navbar-light bg-light sticky-top navbar-contacts">

</nav>
{% endblock %}
{% block content %}
<div class="profile-list-container">
    <div class="list-group">
        {% for profile in profiles %}
        <a href="{% url 'other_profile' username=profile.username %}" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
                <div class="d-flex align-items-center">
                  {% if profile.avatar %}{% with profile.avatar.url as avatar_url %}
                  <img src="{{ avatar_url }}" class="rounded-circle me-2" alt="Profile Picture" width="50" height="50">
                  {% endwith %}{% else %}
                  <img src="{{ MEDIA_URL }}avatars/default_avatar.jpg" class="rounded-circle me-2" alt="Profile Picture" width="50" height="50">
                  {% endif %}
                  <h5 class="mb-1">
                    {% if profile.first_name and profile.last_name %}
                        {{ profile.first_name }} {{ profile.last_name }}
                    {% else %}
                        {{ profile.username }}
                    {% endif %}
                  </h5>
                </div>
            </div>
        </a>
        {% empty %}
        <li class="list-group-item">No profiles found.</li>
        {% endfor %}
    </div>
</div>
{% endblock %}
{% block footer %}
{% endblock %}
